# Git Ignore File for APEXCalculus
#
#
## Output directories
output/
generated-assets/
#
# Macro file for WeBWorK
APEX.pl

# logs and error reports
.error_schema.log
cli.log
vshifts.ods
*.log

# vs code stuff
.vscode
codechat_config.yaml