# Git Ignore File for APEXCalculus
#
#
## Output directories
output/
generated-*/
#
# Macro file for WeBWorK
APEX.pl
APEX-BW.pl

# logs and error reports
.error_schema.log
cli.log
vshifts.ods
*.log

# vs code stuff
.vscode/*
.vscode/settings.json

# CLI bloat
codechat_config.yaml
.devcontainer.json
