# Git Ignore File for APEXCalculus
#
#
## Output directories
output/
generated-*/
#
# Macro file for WeBWorK
APEX.pl
APEX-BW.pl

# logs and error reports
.error_schema.log
cli.log
vshifts.ods
*.log
codechat_config.yaml
